.container.alloction{
    padding: 3%;
}

.container > h2,.container > h5 {
    width: 100%;
    text-align: center;
}

.container > h5 {
  margin-top: 4px;
}

table{
    border-top: 2px solid lightgray;
    width: 100%;
    text-align: center;
    margin: 25px auto 0 auto;
  }
  tr{
    border-bottom: 2px solid lightgray;
  }
  th,td{
    padding: 8px;
    border-bottom: 2px solid lightgray;
  }
  th:first-of-type{
    width: 75%;
  }
  th:last-of-type{
    width: 25%;
  }
  th:not(:last-of-type),td:not(:last-of-type){
    border-right: 2px solid lightgray;
  }
  
  .pagination {
    list-style: none;
    height: 31.5px;
    width: 31.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    margin: 25px auto 0 auto;
  }
  
  .active {
    background-color: #1e50ff;
    border-radius: 50%;
  }
  
  .page-item {
    list-style: none;
    padding: 2px 12px;
    height: 31.5px;
    width: 31.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
  }
  