main .container {
    padding: 3%;
}

.progress-bar {
    width: 100%;
    max-width: 200px;
    height: 22px;
    position: relative;
    background-color: gray;
    text-align: center;
    border: 1px solid black;
    margin: 0 auto 3% auto;
}

.progress-bar p {
    width: 100%;
    height: 22px;
    margin: 0;
    font-weight: bold;
    position: absolute;
}

.wallet {
    width: 100%;
    max-width: 400px;
    background-color: lightgray;
    margin: 0 auto;
    padding: 3%;
    text-align: center;
}