header {
    border-bottom: 2px solid lightgray;
}
  
header .container {
display: flex;
justify-content: space-between;
align-items: center;
}

header .logo{
max-width: 64px;
padding: 12px 0;
}

header nav ul {
display: flex;
gap: 1rem;
list-style: none;
}

header nav ul li a {
text-decoration: none;
text-transform: uppercase;
color: black;
}

header nav ul li a:hover {
text-decoration: underline;
}