header {
    background-color: lightgray;
    border-bottom: 4px solid black;
    height: 10vh;
    display: flex;
}
  
header .container {
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
}

.active_link {
    text-decoration: underline;
}

header nav ul {
display: flex;
gap: 1rem;
list-style: none;
flex-wrap: wrap;
justify-content: center;
}

header nav ul li a {
text-decoration: none;
text-transform: uppercase;
color: black;
font-weight: 600;
}

header nav ul li a:hover {
text-decoration: underline;
}

@media screen and (max-width:1024px){
    header .container {
        justify-content: center;
    }
}

@media screen and (max-width:720px){
    header {
        height: 15vh;
    }
    .logo {
        display: none;
    }
}