.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 3%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  max-width: 64px;
  padding: 12px 0;
}

header nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

header nav ul li {
  text-decoration: none;
}
